body {
	padding: 0px;
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: Arial;
}

#header {
    width: 100%;
    height: 120px;
    background: #202020;
    text-align: center;
}

#header #logo img {
    margin-top: 20px;
    margin-left: -350px;
}

#header #nav {
  margin-top: -50px;
  margin-left: 350px;
}

#header #nav ul li {
  list-style-type: none;
  display: inline;
  padding: 3px 8px;
  background-color: #99FF99;
  font-size: 21px;
  font-family: Pristina;
}

#header #nav a {
  text-decoration: none;
  color: black;
}

#header #nav ul li a:hover {
  color: white;
}


#wrapper {
    width: 700px;
    height: auto;
    margin: 0px auto;
}

#main {
    height: 300px;

}

#wrapper #main img {
	width: 700px;
	height: 300px;
    border: 1px solid gray;
}

#wrapper #table1 {
    width: 700px;
    height: 250px;
    table-layout: fixed;
}

#wrapper #table1 td h3 {
    text-align: center;
    font-family: pristina;
    font-size: 20px;
}

#wrapper #table1 td {
    background: #D8D8D8;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
}

#footer{
    height: 40px;
    border-top: 1px solid gray;
    text-align: center;
    font-size: 14px;
}