body {
	padding: 0px;
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: Arial;
}

#header {
border: 1px solid black;
width: 100%;
height: 120px;
background: #202020;
text-align: center;
}

#header #nav {
  margin-top: 80px;
  margin-left: 350px;
}

#header #nav ul li {
  list-style-type: none;
  display: inline;
  padding: 3px 8px;
  background-color: #99FF99;
  font-size: 21px;
  font-family: Pristina;
}

#header #nav a {
  text-decoration: none;
  color: black;
}

#header #nav a:hover {
  color: white;
}

#header #nav a:visited {
  color: white;
}

#header #nav a:active {
  color: white;
}

#wrapper {
width: 700px;
height: auto;
border: 1px solid black;
margin: 0px auto;
}

#main {
border: 1px solid black;
height: 300px;

}

#wrapper #main img {
	width: 700px;
	height: 300px;
}

#footer{
height: 40px;
border: 1px solid black;
text-align: center;
font-size: 14px;
}