#wrapper {
    border: 1px solid black;
    width: 700px;
    height: 700px;
    margin: 0px auto;
}

#first {
    border: 1px solid black;
    height: 90px;
}

nav {
    border: 1px solid black;
    margin: 0px auto;
    width: 350px;
}

nav li {
    display: inline;
    padding: 20px;
}

section {
    border: 1px solid black;
    width: 500px;
    margin: 0px auto;
}

article {
    border: 1px solid black;
    width: 390px;
}

aside {
    border: 1px solid black;
    width: 100px;
    height: 400px;
    margin-top: -340px;
}

#second {
    border: 1px solid black;
    height: 40px;
}