/* Animations */

#main {
    margin: 0px auto;
    border: 2px solid red;
    width: 100px;
    height: 75px;
    background: red;
    text-align: center;
    color: white;
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform 2s, opacity 2s, background 2s, width 2s, height 2s;
}

#main:hover {
    -webkit-transform: rotate(360deg);
    opacity: 1;
    background: #1ec7e6;
    width: 450px;
    height: 110px;
}

