/* More Flexible Porperties */

#parent {
    border: 1px solid black;
    display: -webkit-box;    
    -webkit-box-orient: horizontal;
    height: 400px;
    -webkit-box-align: center; /*start|center|end*/
}

#child1 {
    border: 1px solid green;
    background: yellow;
    padding: 20px;
    margin: 20px;
    -webkit-box-flex: 1;
    height: 100px;
}

#child2 {
    border: 1px solid green;
    background: yellow;
    padding: 20px;
    margin: 20px;
    -webkit-box-flex: 1;
    height: 100px;
}

#child3 {
    border: 1px solid green;
    background: yellow;
    padding: 20px;
    margin: 20px;
    -webkit-box-flex: 1;
    height: 100px;
}

#child4 {
    border: 1px solid green;
    background: yellow;
    padding: 20px;
    margin:   20px;
    -webkit-box-flex: 1;
    height: 100px;
}


