/* Transformations */

#main {
    margin: 0px auto;
    border: 2px solid red;
    width: 300px;
    background: blue;
    text-align: center;
    color: white;
    /*-webkit-transform: scale(1.6);*/
    /*-webkit-transform: rotate(-45deg);*/
    /*-webkit-transform: translate(-150px, 200px);*/
    -webkit-transform: translate(200px,200px)
        rotate(45deg) scale(1.2);
}

#text {
    font: bold 30px Times New Roman;
}

